nav{
    text-align: center;
}

*{
    font-family: Lucida Family;
}

p, ol, ul, center{
    font-size: 1.5em;
    font-weight: medium;
    word-break: break-all;
}

#papers{
    color: #777777;
}

#papers>h3{
    color: #333333;
}

#papers>ol>li>i{
    color: #464646;
}

#download>ol>li{
    margin-bottom: 2em;
}

#people{
    text-align: center;
    color: #112233;
}

#contact{
    background: #6789ab;
    background-size:  100% 100%;
}

#contact>h3{
    color: gold;
}

.head{
    width: 100%;
}

.news{
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
    /* font-size: 18px; */
    font-size: 1em;
}

.collapse>ul{
    width: 100%;
}

.nav>li{
    display: table-cell;
    width: 1%;
    float: none;
    white-space: nowrap;
}

body{
    background: rgb(243, 243, 233);
}

#bk{
    background: url(img/bk3.jpg) 100%;
    padding: 1em;
    background-size: 100%;
    height: 592px;
}

#info0{
    padding: 0.8em;
    margin-left: 4em;
    margin-top: 3em;
    width: 42%;
    height: 30em;
    color: black;
    background: rgba(222, 234, 245, 0.6);
}

#head-logo{
    text-align: center;
    /* background: rgb(12, 97, 202); */
}

#logo{
    width: 60%;
}