*{
    font-family: Lucida Family;
}

p, ol, ul, center{
    font-size: 1.5em;
    font-weight: medium;
    word-break: break-all;
}

.news{
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
    /* font-size: 18px; */
    font-size: 1em;
}

.collapse>ul{
    width: 100%;
}

.nav>li{
    display: table-cell;
    width: 1%;
    float: none;
    white-space: nowrap;
}

body{
    background: rgb(243, 243, 233);
}

#bk{
    background: url(img/bk3.jpg) 100%;
    padding: 1em;
    background-size: 100%;
    height: 592px;
}

#info0{
    padding: 0.8em;
    position: relative;
    margin-left: 4em;
    margin-top: 3em;
    top: 5%;
    width: 42%;
    height: 30em;
    color: black;
    background: rgba(222, 234, 245, 0.6);
}

#headers {
    /* background-color: #151c25; */
    background-color: #0c61ca;
    /* background-color: #4689ee; */
    margin: 0 auto;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

/* #news p{
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
} */
