red{
    color: red;
}

nav{
    text-align: center;
}

*{
    font-family: Lucida Family;
}

p, ol, ul, center{
    font-size: 1.5em;
    font-weight: medium;
    word-break: break-all;
}

#papers{
    color: #777777;
}

#papers h3{
    color: #333333;
}

#papers li{
    margin-top: 0.5em;
}

#papers i{
    color: #464646;
}

#download>ol>li{
    margin-bottom: 2em;
}

#people{
    text-align: center;
    color: #112233;
}

#contact{
    background: #6789ab;
    background-size:  100% 100%;
}

#contact>h3{
    color: gold;
}

.head{
    width: 100%;
    /*max-height: 20em;*/
}

.news{
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
    /* font-size: 18px; */
    font-size: 1em;
}

.collapse>ul{
    width: 100%;
}

.nav>li{
    display: table-cell;
    width: 1%;
    float: none;
    white-space: nowrap;
}

body{
    background: rgb(243, 243, 233);
}

#bk{
    background: url(img/bk3.jpg) 100%;
    padding: 1em;
    background-size: 100%;
    /* height: 592px; */
    height: 45em;
}

#info0{
    padding: 0.8em;
    margin-left: 4em;
    margin-top: 4em;
    width: 45%;
    height: 35em;
    background: rgba(222, 234, 245, 0.6);
}
#info0 p{
    word-wrap: break-word;
    word-break: unset;
    text-align:justify;
    text-justify:inter-ideograph;
}

#head-logo{
    text-align: center;
    /* background: rgb(12, 97, 202); */
}

#logo{
    width: 60%;
}

/* News nuaalogo */
.content {
    min-height: 50em;
    position: relative;
}

.content .nuaalogo-bg {
    position: absolute;
    text-align: center;
    width: 100%;
    opacity:  0.1;
    z-index:  -1;
    margin-top: 8em;
}
h1, h2, h3{
    color: #0c61ca;
}

 /* main page */
.mainnews {
    color: #0c0fca;
}

.member h2{
    text-align: center;
    color: #262664;
}

.member img{
    width: 80%;
    margin-left: 10%;
}

.member .col-sm-8{
    text-align: center;
    line-height: 3em;
    margin-top: 2em;
}

.member hr{
    background: #999999; 
    height: 2px;
}