p, ol, ul, center{
    font-size: 1.5em;
    font-weight: medium;
    word-break: break-all;
}

body{
    background: rgb(232, 232, 233);
}

#bk{
    height: 592px;
    background: url(img/bk4.jpg) no-repeat;
    padding: 1em;
    background-size: 100%;
}

#info0{
    padding: 0.8em;
    position: relative;
    margin-left: 2em;
    top: 18%;
    width: 38.2%;
    height: 26em;
    color: gold;
    background: rgba(222, 234, 245, 0.3);
}
