*{
    /*font-family: Lucida Family;*/
    font-family: Trebuchet MS;
}

body{
    background: rgb(233, 233, 243);
}

red{
    color: #fa6231;
}

h1, h2, h3{
    color: #3c5fba;
}

nav{
    text-align: center;
}

p, ol, ul, center{
    font-size: 1.5em;
    font-weight: medium;
    word-break: break-all;
}

#papers{
    color: #95845a;
}

#papers h3{
    color: #333333;
}

#papers li{
    margin-top: 0.5em;
}

#papers i{
    color: #464646;
}

#download>ol>li{
    margin-bottom: 2em;
}

#people{
    text-align: center;
    color: #112233;
}

#people h2{
    color: #6f6f6f;
}

#people h3{
    color: #6f3f1f;
}

#contact{
    background: #6789ab;
    background-size:  100% 100%;
}

#contact>h3{
    color: gold;
}

.head{
    width: 100%;
}

@media screen and (min-width: 400px){
    .head-block{
        height: 15em;
        overflow: hidden;
    }
}

.news{
    color: #767676;
    line-height: 30px;
    margin: 0;
    padding: 20px 0;
    /* font-size: 18px; */
    font-size: 1em;
}

.collapse>ul{
    width: 100%;
}

.nav>li{
    display: table-cell;
    width: 1%;
    float: none;
    white-space: nowrap;
}

#bk{
    background: url(img/bk3.jpg) 100%;
    padding: 1em;
    background-size: 100%;
    /* height: 592px; */
    height: 45em;
}

#info0{
    padding: 0.8em;
    margin-left: 1.5em;
    margin-top: 1.5em;
    width: 45%;
    height: 31.5em;
    background: rgba(222, 234, 245, 0.6);
}
#info0 p{
    word-wrap: break-word;
    word-break: unset;
    text-align:justify;
    text-justify:inter-ideograph;
}

#head-logo{
    text-align: center;
    /* background: rgb(12, 97, 202); */
}

#logo{
    width: 60%;
}

/* News nuaalogo */
.content {
    min-height: 50em;
    position: relative;
}

.content .nuaalogo-bg {
    position: absolute;
    text-align: center;
    width: 100%;
    opacity:  0.1;
    z-index:  -1;
    margin-top: 8em;
}

 /* main page */
.mainnews {
    color: #0c0fca;
}

.member h2{
    text-align: center;
    color: #262664;
}

.member img{
    width: 80%;
    margin-left: 10%;
}

.member .col-sm-8{
    text-align: center;
    line-height: 3em;
    margin-top: 2em;
}

.member hr{
    background: #999999;
    height: 2px;
}

#research{
    display:flex;
    align-items: center;
}
#research>.col-sm-3{
    /* width:25%; */
    display:flex;
    align-items: center;
}

.col-sm-3{
    padding-top: 20px;
}